.room-icon {
  color: $white;
  font-size: 28px;
}

.text-capability {
  color: $white;
  font-size: 28px;
  margin: 0 0.2em;
}

.btn-agendar {
  background-color: $primary;
}

.btn-agendar:hover {
  background-color: $secondary;
}
